<?xml version="1.0" encoding="utf-8"?>

<manifest
		android:versionCode="1"
		android:versionName="1.0"
		package="com.gmail.at.zhuikov.aleksandr.rssreader"
		xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />

	<application
			android:label="@string/app_name"
			android:icon="@drawable/icon"
			android:name=".RSSReaderApplication"
			android:debuggable="true">

		<activity
				android:label="@string/app_name"
				android:name=".RSSFeedItemListActivity"
				android:launchMode="singleTask"/>

		<activity android:label="@string/app_name" android:name=".WelcomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="@string/settings" android:name=".SettingsActivity" />

		<service android:name=".RSSPollService" />

		<provider
				android:name=".db.FeedItemProvider"
				android:authorities="com.gmail.at.zhuikov.aleksandr.rssreader.db.FeedItemProvider" />

	</application>
</manifest>
